body{
    overflow-x:hidden;
}

#hero{
    margin: 188px 0 64px;
}

#hero-img{
    transform: rotate(-1deg);
    /* border: 30px solid #CDC0A5; */
}

.border-hero-img {
    border: min(max(10px, 2vw), 30px) solid #cdc0a5;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

#nas-1{
    transform: translate(-50%,-50%) rotate(105deg) !important;
}

#nas-2{
    transform: translate(-50%,-50%) rotate(-78deg) !important;
}

.ink{
    max-width: 320px ;
    width: calc(20svw + 3vw);
}

.quill{
    max-width: 800px;
    width: 65svw;
}

.glass{
    transform:rotate(5deg);
}

@media screen and (max-width: 1200px) {
    #nas-1, #nas-2{
        width: 9.5svw;
    }
}