:root{
    --icon-active-light-green-accordion: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23515215'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --icon-no-active-light-green-accordion: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23515215'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); --icon-active-light-green-accordion: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23515215'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

body{
    overflow-x: hidden;
}

/*HERO*/

.Hero{
    margin-top: 15em;
}

.herop{
    padding-bottom: 5rem;
}

.herop h3{
    color: var(--light-green);
}

.nas-1{
    transform: translate(-50%, -50%);
    width: 11svw;
}

.scotch-scaling-sm{
    width: 18svw;
}


/*TROVACI*/

.trovarci{
    flex-shrink: 0;
    text-align: left;
}

.polaroid1{
    filter: drop-shadow(5px 10px 16px var(--dark));
}

a:hover{
    color: var(--dark);
}

/*FAQ*/

.FAQ{
    padding:6rem 0 8rem 0;
}

.faq-icon-light-green{
    --bs-accordion-btn-active-icon: var(--icon-active-light-green-accordion);
    --bs-accordion-btn-icon: var(--icon-no-active-light-green-accordion);}

.accordion-item{
    border-bottom: 1px solid rgba(254, 232, 200, 0);
    background-color: rgba(0,0,0,0)!important;
}

.accordion-button{
    color: var(--dark)!important;
    background-color: rgba(0,0,0,0)!important;
    border-radius: 0 !important;
}

.accordion-button:focus{
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;}

.accordion-button:not(.collapsed){
    box-shadow: none !important;
}

.accordion-body{
    color: var(--dark);
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
    padding: 0 1.25rem 1.25rem 1.25rem !important;
}

.polaroid2{
    transform: rotate(-10deg);
    filter: drop-shadow(5px 10px 16px var(--dark));
    float:right !important;
    margin-right:-50% !important;
}

/*NEWSLETTER*/

.frm{
    margin: auto;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.bg_form{
    background-image: url("img/Trovaci/CardForm1.png");
    min-height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: fill;
    position: relative;
    max-width: 100%;
    filter: drop-shadow(-6px 17px 10px hsl(0 0% 0% / 62%));
}

.labels {
    display: inline-block;
    width: 100%;
    padding: 5px;
    vertical-align: top;
}

.labels>input[type=text]{
    width: 75%;
    padding: 12px 15px;
    border: var(--light-green) 2px solid;
    border-radius: 8px;
}

::placeholder {
    color: var(--dark);
}

input:focus {
    outline-width: 0;
}

input[type=checkbox]{
    background-color: rgba(76, 175, 80, 0);
    border: solid 2px var(--dark);
    cursor: pointer;
}

::placeholder {
    color: var(--dark);
}

input[type=checkbox]:checked {
    background-color: var(--red);
    border: solid 2px var(--red);
}

.bottle{
    transform: translate(-92%, -45%);
    height: 100%;
}

/*CAROUSEL*/

.review{
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.stars{
    width: 12vw;
}

.review_img{
    filter: drop-shadow(5px 10px 5px hsl(0 0% 0% / 41%));
}

.carousel-control-next-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23132019'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
    transform: translate(110%, 0);
    width: 6vw;
}

.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23132019'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
    transform: translate(-110%, 0);
    width: 6vw;
}

.scotch-carousel{
    transform: translate(-52%, -40%);
}


/*MEDIA QUERIES*/

@media screen and (max-width:1200px){
    .nas-1{
        width: 9.5svw;
    }
    .scotch-scaling-sm{
        width: 21vw;
    }
}

@media screen and (max-width:767px){

    .scotch-scaling-sm{
        width: 25svw;
    }
    .trovarci>h2, .FAQ>h2{
        text-align: center;
    }
    .bg_form{
        background-image: url("img/Trovaci/CardForm2.png");
    }
    #txtform {
        text-align: center;
    }
    .bottle{
        display: none;
    }
    .stars{
        width: 14vw;
    }
    .frm{
        left: 50%;
    }
}

@media screen and (max-width:991px){

    .bottle{
        transform: translate(-80%, -50%);
        height: 95%;
    }
}