@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@font-face {
    font-family: 'Amalfi Coast';
    src: local('Amalfi Coast'), url('/font/Amalfi\ Coast.ttf');
}

:root{
    --dark: #132019;
    --light: #F5E8C8;
    --red: #9B191B;
    --dark-hover: #13201940;
}

.h1{
    font-family: Amalfi Coast;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; 
    letter-spacing: 1.44px;
}

.h2{
    font-family: "Amalfi Coast";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.48px;
}

.fs-1{
    font-family: Libre Baskerville;
    font-size: 22px !important; 
    font-style: normal;
    font-weight: 400;
    line-height: 160%
}

.fs-2{
    font-family: "Libre Baskerville";
    font-size: calc(1rem + 0.3vw) !important;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

body{
    background-image: url(/img/background-1.png);
    background-size: 100svw;
    background-position: center;
    background-repeat: repeat;
    font-family: Libre Baskerville;
}

.navbar-personalized{
    background: linear-gradient(0deg, rgba(179, 145, 114, 0.20) 0%, rgba(179, 145, 114, 0.20) 100%), url(/img/navbar-img.png), lightgray 50% / cover no-repeat;
    /* mix-blend-mode: darken; */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--dark);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 1.08px;
    transition: top 0.3s;
}

.logo-header{
    height: 100px;
    width: auto;
}

.nav-link a{
    color: var(--dark);
}

.nav-link a:hover, .nav-link a:active, .nav-link a:focus, .nav-link.active{
    color: var(--dark);
}

.navbar-toggler, .navbar-toggler-icon{
    color: var(--red);
}


#footer{
    background: linear-gradient(0deg, rgba(27, 53, 40, 0.68) 0%, rgba(27, 53, 40, 0.68) 100%), url(/img/footer-img.png), lightgray 50% / cover repeat ;
    /* box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25); */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 1.08px;
    color: var(--light);
}

#footer a{
   text-decoration: none;
   color: var(--light);
}

input[type=text], input[type=email] {
    background-color: var(--light); 
    color: var(--dark);
    border: #8B8C5A 2px solid; 
}

input[type=text]:active, input[type=email]:active {
    background-color: #F5E8C890; 
    color: var(--dark);
    border: #8B8C5A 2px solid; 
}

input[type=text]:focus, input[type=email]:focus{
    background-color: #e6e2d8; 
    color: var(--dark);
    border: #8B8C5A 2px solid;
}

.btn-red{
    background: var(--red);
    color: var(--light);
    border: var(--red) 2px solid;
}

.btn-red:hover{
    background-color: #9B191B20;
    border: var(--red) 2px solid; 
}

.line{
    border: var(--light) 1px solid;
}

.logo-footer{
    height: 150px;
    margin: -95px auto 0;
}

.copyright{
    padding: 32px !important;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: 150%;
    letter-spacing: 0;
}


@media screen and (max-width: 1200px) {
    .h1{
        font-size: calc(3.25rem + 1.5vw) !important;
        letter-spacing: 0.96px;
    }

    .h2{
        font-size: calc();
    }

    .fs-1{
        font-size: calc(1rem + 0.5vw) !important;
    }
}

@media screen and (max-width: 576px) {
    .h1{
        font-size: 48px !important;
        letter-spacing: 0.96px;
    }

    .h2{
        font-size: 32px !important;
        letter-spacing: 0.32px;
    }

    .fs-1{
        font-size: 18px !important;
    }

    .fs-2{
        font-size: 15px;
    }
}